<?xml version="1.0" encoding="utf-8"?>
<configuration>

    <packageRestore>
        <!-- Allow NuGet to download missing packages -->
        <add key="enabled" value="True" />

		<!-- Automated package restore in VS does not work at this time with
			 this project and it causes build failures in VS. Disable it. -->
		<add key="automatic" value="false" />
    </packageRestore>

	<!-- NOTE: Leave this file here and keep it in sync with list in dir.props. -->
	<!-- The command-line doesn't need it, but the IDE does.                    -->
	<packageSources>
		<clear />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
		<add key="myget.org dotnet-buildtools" value="https://dotnet.myget.org/F/dotnet-buildtools/api/v3/index.json" />
		<add key="myget.org dotnet-core" value="https://dotnet.myget.org/F/dotnet-core/api/v3/index.json" />
		<add key="HearthSim" value="https://github.com/Latency/HearthDb/raw/master/HearthDb/bin/Debug/" />
	</packageSources>
  
	<config>
		<add key="repositoryPath" value="..\packages" />
	</config>

    <!-- Used to store credentials -->
    <packageSourceCredentials />

    <!-- Used to disable package sources  -->
    <disabledPackageSources />
	
</configuration>